@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(26, 27, 26);
    background-image: url(./assets/body-bg-space-wallpaper01.jpg);
    background-size: cover;
}